@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Merriweather+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    height: 100%;
    width: 100%;
}

header {
    height: 50vh;
    background-color :cadetblue
}

nav {
    height: 7vh;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 27px;
    font-family: 'Dancing Script', sans-serif;
    padding: 5px;
    width: 50%;
    text-align: center;
}

.nav {
    width: 50%;

}

.nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.nav ul li {
    list-style-type: none;
}

.nav ul li a {
    color: #FAEBD7;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}

.nav ul li a:hover {
    border-bottom-right-radius: 100% 50%;
    padding: 5px 7px;
    border-bottom: 2px solid #FAEBD7;
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #FAEBD7;
    gap: 150px;
}

.main-text {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.description {
    width: 50%;
}

.description p {
    margin: 25px 0;
    font-size: 18px;
}

.description button {
    padding: 10px 20px;
    background-color: skyblue ;
    border: 2px solid lightblue;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.main-content .pet-pics {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pet-pics img {
    height: 300px;
    width: auto;
    border-radius: 10px;
}

main .animals-shelter {
    margin-top: 50px;
}

main .animals-shelter h2{
    text-align: center;
    font-size: 40px;
    font-style: italic;
}

.animal-pics {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-wrap: wrap;
    gap: 50px;
    height: 100%;
}

.animals {
    margin-top:  50px;
}

.animal-pics p {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    border: 3px dotted skyblue;
    background-color: #FAEBD7;
    color: slategray;
}

.animal-pics img {
    height: 400px;
    width: auto;
    box-shadow: 2px 5px 5px;
    border-radius: 10px;
}

.about {
    height: 50vh;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border-radius: 10px;
}

.about-text {
    width: 50%;
    height: auto;
    padding: 20px;
}

.about-text p {
    color: #FAEBD7;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.4px;
    font-style: italic;
}

.contact {
    height: 20vh;
    margin: 50px 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.take-action {
    background-color: lightblue;
    padding: 30px;
    border-radius: 10px ;
    border: 2px solid lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.take-action p{
    margin-top: 10px;
    font-style: italic;
}

.take-action button {
    padding: 10px 20px ;
    margin-top: 15px;
    border: 2px solid lightskyblue;
    background-color: #FAEBD7;

}

footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    font-weight: bold;
}
